# Task 5

* create 10 level pyramid of "*"

In [2]:
for i in range (0,11):
    print('*')

*
*
*
*
*
*
*
*
*
*
*

In [3]:
print("a");print("bb")

a
bb

In [4]:
print("a",end='');print("bb")

abb

### explaination

* outer for loop gives height of pyramid i.e. no. of times outer loop will run
* inner for loop gives no. of columns in each row. i.e. for every row no. of row = no. of column
* print ('*') gives * pattern

 here, for rows we have taken one for loop and for columns we have taken another for loop
 range ()

In [7]:
# Function to print a half pyramid pattern

for i in range (1,11):               ## this outer loop controls the number of rows
    for j in range (1,i+1):         ## this inner loop controls no. of * printed in each row so, * increases as we move down
        print('*', end=' ')        ## this prints * followed by space end = arg ensures that next star is printed on same line, seperated by space
    print(' ')                    ## After the inner loop completes, this print("") statement moves the cursor to the next line

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [8]:
# pyramid with input function
num = int(input("enter no of rows"))

for i in range (1, num+1):
    for j in range (1, i+1):
        print ('*', end= " ")
    print('')

enter no of rows 4

*
* *
* * *
* * * *

In [9]:
for i in range (10):
    for j in range (i,10):
        print('*',end=' ')
    print()


  # for i in range(10):
  #    for j in range(10,i+1,-1):
  #       print('*',end=(' ')) 
  #    print()

* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [10]:
for i in range (1,11):
    for j in range (1,i+1):
        print(' ', end=' ')
    for j in range (11,i,-1):
        print('*',end=' ')
    print(' ')

  * * * * * * * * * *
    * * * * * * * * *
      * * * * * * * *
        * * * * * * *
          * * * * * *
            * * * * *
              * * * *
                * * *
                  * *
                    *

In [31]:
for i in range (10):
    for j in range (10):
        print('*',end='  ')
    print('')

*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *

In [45]:
# increasing triangle
for i in range (10):
    for j in range (i+1):  # * will increase as 1 - 10 as row increases
      print('*',end='  ')
    print('')

*
*  *
*  *  *
*  *  *  *
*  *  *  *  *
*  *  *  *  *  *
*  *  *  *  *  *  *
*  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *

In [47]:
# decreasing triangle
for i in range (10):
    for j in range (i,10): # * will decrease as 10 to 1 as row increases
      print('*',end='  ')
    print('')

*  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *
*  *  *  *  *  *  *
*  *  *  *  *  *
*  *  *  *  *
*  *  *  *
*  *  *
*  *
*

In [119]:
for i in range (10):
    for j in range (i,10):
      print(' ',end='  ')  # decreasing space triangle
    for j in range (i):    #increasing * triangle
      print('*',end='  ')
    print('')

                           *
                        *  *
                     *  *  *
                  *  *  *  *
               *  *  *  *  *
            *  *  *  *  *  *
         *  *  *  *  *  *  *
      *  *  *  *  *  *  *  *
   *  *  *  *  *  *  *  *  *

In [59]:
for i in range (10):
    for j in range (i):
      print(' ',end='  ')
    for j in range (i,10):
      print('*',end='  ')
    print('')

*  *  *  *  *  *  *  *  *  *
   *  *  *  *  *  *  *  *  *
      *  *  *  *  *  *  *  *
         *  *  *  *  *  *  *
            *  *  *  *  *  *
               *  *  *  *  *
                  *  *  *  *
                     *  *  *
                        *  *
                           *

In [13]:
for i in range(10):
    for j in range (i,10):
        print(' ',end=' ')
    for j in range (i):
        print('*',end=' ')
    for j in range (i+1):
        print('*',end=' ')
    print(' ')

                    *
                  * * *
                * * * * *
              * * * * * * *
            * * * * * * * * *
          * * * * * * * * * * *
        * * * * * * * * * * * * *
      * * * * * * * * * * * * * * *
    * * * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * * * *

In [73]:
for i in range (10):
    for j in range (i):
        print(' ',end=' ')  # this loop will print space triangle
    for j in range (i,10):  # this loop will print left * triangle
        print('*',end=' ')
    for j in range (i,9):   # this loop will print right * triangle
        print('*',end=' ')
    print('')

* * * * * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * *
    * * * * * * * * * * * * * * *
      * * * * * * * * * * * * *
        * * * * * * * * * * *
          * * * * * * * * *
            * * * * * * *
              * * * * *
                * * *
                  *