# Task_1
* Search and use 15 String Functions

## 1. join()
* If you need to convert a list to a string in Python .join() function is used
* we can use the join() method with different types of iterable such as Lists, Tuple, String, Dictionary, and Sets

In [11]:
colors = ["Purple", "Red", "Orange", "Green", "White", "Blue", "yellow"]

In [13]:
print(colors)

['Purple', 'Red', 'Orange', 'Green', 'White', 'Blue', 'yellow']

In [15]:
joined_colors = ",".join(colors)

In [17]:
print(joined_colors)

Purple,Red,Orange,Green,White,Blue,yellow

##  2. split()
* If you need to break a string into smaller strings based on a separator, you need the string split method.

In [92]:
string_1 = "My Name is Sudhanshu Patil. I have enrolled in data analyst class"

In [94]:
print(string_1)

My Name is Sudhanshu Patil. I have enrolled in data analyst class

In [96]:
split_func = string_1.split(" ")

In [33]:
split_func

['My',
 'Name',
 'is',
 'Sudhanshu',
 'Patil.',
 'I',
 'have',
 'enrolled',
 'in',
 'data',
 'analyst',
 'class']

In [35]:
print(split_func)

['My', 'Name', 'is', 'Sudhanshu', 'Patil.', 'I', 'have', 'enrolled', 'in', 'data', 'analyst', 'class']

In [114]:
string_2 = "Hello | World | I am Ram | I like blue color"

In [116]:
print(string_2)

Hello | World | I am Ram | I like blue color

In [122]:
split_func_1 = string_2.split(" | ")

In [141]:
print(split_func_1)

['Hello', 'World', 'I am Ram', 'I like blue color']

In [126]:
split_func_2 = string_2.split(" | " , maxsplit = 1)

In [136]:
print(split_func_2)

['Hello', 'World | I am Ram | I like blue color']

## 3. lower()
*  lower() function to convert  string to lower case

In [147]:
txt_1 = "At the Paris 2024 Olympic Games, Aman Sehrawat of India made his mark by winning a
bronze medal in the men’s 57kg wrestling category, 
adding a proud moment to India’s Olympic wrestling history. His performance was remarkable, showcasing his skill ."

In [149]:
print(txt_1)

At the Paris 2024 Olympic Games, Aman Sehrawat of India made his mark by winning a bronze medal in the men’s 57kg wrestling category, adding a proud moment to India’s Olympic wrestling history. His performance was remarkable, showcasing his skill .

In [151]:
print(txt_1.lower())
# lower() function to convert
# string to lower case

at the paris 2024 olympic games, aman sehrawat of india made his mark by winning a bronze medal in the men’s 57kg wrestling category, adding a proud moment to india’s olympic wrestling history. his performance was remarkable, showcasing his skill .

## 4. upper()
* upper() function to convert string to upper case

In [351]:
print(txt_1.upper())

AT THE PARIS 2024 OLYMPIC GAMES, AMAN SEHRAWAT OF INDIA MADE HIS MARK BY WINNING A BRONZE MEDAL IN THE MEN’S 57KG WRESTLING CATEGORY, ADDING A PROUD MOMENT TO INDIA’S OLYMPIC WRESTLING HISTORY. HIS PERFORMANCE WAS REMARKABLE, SHOWCASING HIS SKILL .

## 5. title()
* converts the first character to  upper case and rest to lower case

In [355]:
print(txt_1.title())

At The Paris 2024 Olympic Games, Aman Sehrawat Of India Made His Mark By Winning A Bronze Medal In The Men’S 57Kg Wrestling Category, Adding A Proud Moment To India’S Olympic Wrestling History. His Performance Was Remarkable, Showcasing His Skill .

## 6. swapcase()
* swaps the case of all characters in the string upper case character to lowercase and viceversa

In [357]:
print(txt_1.swapcase())

aT THE pARIS 2024 oLYMPIC gAMES, aMAN sEHRAWAT OF iNDIA MADE HIS MARK BY WINNING A BRONZE MEDAL IN THE MEN’S 57KG WRESTLING CATEGORY, ADDING A PROUD MOMENT TO iNDIA’S oLYMPIC WRESTLING HISTORY. hIS PERFORMANCE WAS REMARKABLE, SHOWCASING HIS SKILL .

## 7. capitalize()
* convert the first character of a string to uppercase

In [359]:
print(txt_1.capitalize())

At the paris 2024 olympic games, aman sehrawat of india made his mark by winning a bronze medal in the men’s 57kg wrestling category, adding a proud moment to india’s olympic wrestling history. his performance was remarkable, showcasing his skill .

## 8. strip()
* The strip method is for removing whitespace from the beginning and end of a string

In [179]:
txt_2 = '     \nHello!\nThis is a multi-line string.\n      '

In [189]:
txt_2

'     \nHello!\nThis is a multi-line string.\n      '

In [191]:
txt_2.strip()

'Hello!\nThis is a multi-line string.'

## 9. startswith()
* The string startswith method can check whether one string is a prefix of another string.

In [210]:
property_id = "UA-1234567"
## prefix is case sensitive

In [204]:
print(property_id)

UA-1234567

In [206]:
property_id.startswith("ua")

False

In [208]:
property_id.startswith("UA")

True

## 10. endswith()
* The endswith method can check whether one string is a suffix of another string.
* The string endswith method works pretty much like the startswith method.

In [219]:
file_name = "homework.pbix"

In [221]:
file_name.endswith("x")

True

## 11. splitlines()
* The splitlines method is specifically for splitting up strings into lines.

In [232]:
txt_3 = "I'm Human! Who are you?\nAre you – a Robot or a Human?"

In [234]:
txt_3

"I'm Human! Who are you?\nAre you – a Robot or a Human?"

In [236]:
print(txt_3)

I'm Human! Who are you?
Are you – a Robot or a Human?

In [238]:
txt_3.splitlines()

["I'm Human! Who are you?", 'Are you – a Robot or a Human?']

## 12. format()
* Python's format method is used for string formatting (a.k.a. string interpolation)

In [273]:
txt_4 = "I'm {species}! Who are you?\nAre you – a {machine} or a {species}?"

In [275]:
txt_4.format(species="fish" , machine="iron")

"I'm fish! Who are you?\nAre you – a iron or a fish?"

In [277]:
name = "Iron Man"

In [279]:
print(f"I am {name}!")

I am Iron Man!

## 13. count()
* The string count method accepts a substring and returns the number of times that substring occurs within our string

In [282]:
txt_4

"I'm {species}! Who are you?\nAre you – a {machine} or a {species}?"

In [284]:
txt_4.count("s")

4

## 14. removeprefix()
* The removeprefix method will remove an optional prefix from the beginning of a string.

In [287]:
txt_4

"I'm {species}! Who are you?\nAre you – a {machine} or a {species}?"

In [291]:
txt_4.removeprefix("I")

"'m {species}! Who are you?\nAre you – a {machine} or a {species}?"

## 15. removesuffix()
* The removesuffix method will remove an optional suffix from the end of a string.

In [383]:
txt_4

"I'm {species}! Who are you?\nAre you – a {machine} or a {species}?"

In [385]:
txt_4.removesuffix("\nAre you – a {machine} or a {species}?")

"I'm {species}! Who are you?"

## 16. replace(old, new): replace function is used to replace set of char or string from a string

In [302]:
txt_4

"I'm {species}! Who are you?\nAre you – a {machine} or a {species}?"

In [307]:
txt_4.replace("species", "Human")

"I'm {Human}! Who are you?\nAre you – a {machine} or a {Human}?"

In [309]:
txt_4.replace("machine", "Robot")

"I'm {species}! Who are you?\nAre you – a {Robot} or a {species}?"

In [317]:
txt_4.replace("species", "Human").replace("machine","Robot")

"I'm {Human}! Who are you?\nAre you – a {Robot} or a {Human}?"

## 17. find()
* To find a substring in a string.
* It returns the lowest index of the substring if it is found. If the substring is not found, it returns -1.

In [330]:
txt_1

'At the Paris 2024 Olympic Games, Aman Sehrawat of India made his mark by winning a bronze medal in the men’s 57kg wrestling category, adding a proud moment to India’s Olympic wrestling history. His performance was remarkable, showcasing his skill .'

In [332]:
txt_1.find('Aman')

33

In [372]:
txt_1.find('Tony')

-1

## 18. casefold()
* Python String casefold() method is used to convert string to lowercase. It is similar to the Python lower() string method, but the case removes all the case distinctions present in a string

In [393]:
txt_1

'At the Paris 2024 Olympic Games, Aman Sehrawat of India made his mark by winning a bronze medal in the men’s 57kg wrestling category, adding a proud moment to India’s Olympic wrestling history. His performance was remarkable, showcasing his skill .'

In [376]:
txt_1.casefold()

'at the paris 2024 olympic games, aman sehrawat of india made his mark by winning a bronze medal in the men’s 57kg wrestling category, adding a proud moment to india’s olympic wrestling history. his performance was remarkable, showcasing his skill .'

## 19. center()
* Python String center() method creates and returns a new string that is padded with the specified character.

#### Parameters:
* a. length: length of the string after padding with the characters.
* b. fillchar: (optional) characters which need to be padded. If it’s not provided, space is taken as the default argument.

#### NOTE:  length should be greater than length of string

In [449]:
string_3 = "India won the Asian Champions Trophy 2023 after a sensational final against Malaysia with the final score of 4-3"

In [490]:
str_3 = string_3.center(120, "&")

In [494]:
print(str_3)

&&&&India won the Asian Champions Trophy 2023 after a sensational final against Malaysia with the final score of 4-3&&&&

## 20. count()
* Python String count() function returns the number of occurrences of a substring within a String.
* NOTE : arg is case sensitive

In [517]:
string_3

'India won the Asian Champions Trophy 2023 after a sensational final against Malaysia with the final score of 4-3'

In [521]:
string_3.count("A")

1

In [523]:
string_3.count("a")

14

In [531]:
string_3.count("Trophy")

1

## 21. encode()
*  converts a string value into a collection of bytes, using an encoding scheme specified by the user

Syntax: encode(encoding, errors)

Parameters: 

* encoding: Specifies the encoding on the basis of which encoding has to be performed. 
* errors: Decides how to handle the errors if they occur, e.g ‘strict’ raises Unicode error in case of exception and ‘ignore’ ignores the errors that
  occurred. There are six types of error response
* strict – default response which raises a UnicodeDecodeError exception on failure
* ignore – ignores the unencodable unicode from the result
* replace – replaces the unencodable unicode to a question mark ?
* xmlcharrefreplace – inserts XML character reference instead of unencodable unicode
* backslashreplace – inserts a \uNNNN escape sequence instead of unencodable unicode
* namereplace – inserts a \N{…} escape sequence instead of unencodable unicode

* Return:  Returns the string in the encoded form

In [560]:
from encodings.aliases import aliases

In [656]:
print(aliases.keys())
## all below encoders encodes different specified characters

dict_keys(['646', 'ansi_x3.4_1968', 'ansi_x3_4_1968', 'ansi_x3.4_1986', 'cp367', 'csascii', 'ibm367', 'iso646_us', 'iso_646.irv_1991', 'iso_ir_6', 'us', 'us_ascii', 'base64', 'base_64', 'big5_tw', 'csbig5', 'big5_hkscs', 'hkscs', 'bz2', '037', 'csibm037', 'ebcdic_cp_ca', 'ebcdic_cp_nl', 'ebcdic_cp_us', 'ebcdic_cp_wt', 'ibm037', 'ibm039', '1026', 'csibm1026', 'ibm1026', '1125', 'ibm1125', 'cp866u', 'ruscii', '1140', 'ibm1140', '1250', 'windows_1250', '1251', 'windows_1251', '1252', 'windows_1252', '1253', 'windows_1253', '1254', 'windows_1254', '1255', 'windows_1255', '1256', 'windows_1256', '1257', 'windows_1257', '1258', 'windows_1258', '273', 'ibm273', 'csibm273', '424', 'csibm424', 'ebcdic_cp_he', 'ibm424', '437', 'cspc8codepage437', 'ibm437', '500', 'csibm500', 'ebcdic_cp_be', 'ebcdic_cp_ch', 'ibm500', '775', 'cspc775baltic', 'ibm775', '850', 'cspc850multilingual', 'ibm850', '852', 'cspcp852', 'ibm852', '855', 'csibm855', 'ibm855', '857', 'csibm857', 'ibm857', '858', 'csibm858', 'ibm858', '860', 'csibm860', 'ibm860', '861', 'cp_is', 'csibm861', 'ibm861', '862', 'cspc862latinhebrew', 'ibm862', '863', 'csibm863', 'ibm863', '864', 'csibm864', 'ibm864', '865', 'csibm865', 'ibm865', '866', 'csibm866', 'ibm866', '869', 'cp_gr', 'csibm869', 'ibm869', '932', 'ms932', 'mskanji', 'ms_kanji', '949', 'ms949', 'uhc', '950', 'ms950', 'jisx0213', 'eucjis2004', 'euc_jis2004', 'eucjisx0213', 'eucjp', 'ujis', 'u_jis', 'euckr', 'korean', 'ksc5601', 'ks_c_5601', 'ks_c_5601_1987', 'ksx1001', 'ks_x_1001', 'gb18030_2000', 'chinese', 'csiso58gb231280', 'euc_cn', 'euccn', 'eucgb2312_cn', 'gb2312_1980', 'gb2312_80', 'iso_ir_58', '936', 'cp936', 'ms936', 'hex', 'roman8', 'r8', 'csHPRoman8', 'cp1051', 'ibm1051', 'hzgb', 'hz_gb', 'hz_gb_2312', 'csiso2022jp', 'iso2022jp', 'iso_2022_jp', 'iso2022jp_1', 'iso_2022_jp_1', 'iso2022jp_2', 'iso_2022_jp_2', 'iso_2022_jp_2004', 'iso2022jp_2004', 'iso2022jp_3', 'iso_2022_jp_3', 'iso2022jp_ext', 'iso_2022_jp_ext', 'csiso2022kr', 'iso2022kr', 'iso_2022_kr', 'csisolatin6', 'iso_8859_10', 'iso_8859_10_1992', 'iso_ir_157', 'l6', 'latin6', 'thai', 'iso_8859_11', 'iso_8859_11_2001', 'iso_8859_13', 'l7', 'latin7', 'iso_8859_14', 'iso_8859_14_1998', 'iso_celtic', 'iso_ir_199', 'l8', 'latin8', 'iso_8859_15', 'l9', 'latin9', 'iso_8859_16', 'iso_8859_16_2001', 'iso_ir_226', 'l10', 'latin10', 'csisolatin2', 'iso_8859_2', 'iso_8859_2_1987', 'iso_ir_101', 'l2', 'latin2', 'csisolatin3', 'iso_8859_3', 'iso_8859_3_1988', 'iso_ir_109', 'l3', 'latin3', 'csisolatin4', 'iso_8859_4', 'iso_8859_4_1988', 'iso_ir_110', 'l4', 'latin4', 'csisolatincyrillic', 'cyrillic', 'iso_8859_5', 'iso_8859_5_1988', 'iso_ir_144', 'arabic', 'asmo_708', 'csisolatinarabic', 'ecma_114', 'iso_8859_6', 'iso_8859_6_1987', 'iso_ir_127', 'csisolatingreek', 'ecma_118', 'elot_928', 'greek', 'greek8', 'iso_8859_7', 'iso_8859_7_1987', 'iso_ir_126', 'csisolatinhebrew', 'hebrew', 'iso_8859_8', 'iso_8859_8_1988', 'iso_ir_138', 'csisolatin5', 'iso_8859_9', 'iso_8859_9_1989', 'iso_ir_148', 'l5', 'latin5', 'cp1361', 'ms1361', 'cskoi8r', 'kz_1048', 'rk1048', 'strk1048_2002', '8859', 'cp819', 'csisolatin1', 'ibm819', 'iso8859', 'iso8859_1', 'iso_8859_1', 'iso_8859_1_1987', 'iso_ir_100', 'l1', 'latin', 'latin1', 'maccyrillic', 'macgreek', 'maciceland', 'maccentraleurope', 'mac_centeuro', 'maclatin2', 'macintosh', 'macroman', 'macturkish', 'ansi', 'dbcs', 'csptcp154', 'pt154', 'cp154', 'cyrillic_asian', 'quopri', 'quoted_printable', 'quotedprintable', 'rot13', 'csshiftjis', 'shiftjis', 'sjis', 's_jis', 'shiftjis2004', 'sjis_2004', 's_jis_2004', 'shiftjisx0213', 'sjisx0213', 's_jisx0213', 'tis620', 'tis_620_0', 'tis_620_2529_0', 'tis_620_2529_1', 'iso_ir_166', 'u16', 'utf16', 'unicodebigunmarked', 'utf_16be', 'unicodelittleunmarked', 'utf_16le', 'u32', 'utf32', 'utf_32be', 'utf_32le', 'u7', 'utf7', 'unicode_1_1_utf_7', 'u8', 'utf', 'utf8', 'utf8_ucs2', 'utf8_ucs4', 'cp65001', 'uu', 'zip', 'zlib', 'x_mac_japanese', 'x_mac_korean', 'x_mac_simp_chinese', 'x_mac_trad_chinese'])

In [654]:
string_1

'My Name is Sudhanshu Patil. I have enrolled in data analyst class'

In [576]:
print(string_1.encode('8859'))

b'My Name is Sudhanshu Patil. I have enrolled in data analyst class'

In [604]:
print(string_1.encode('ascii', errors='ignore'))
## original encoder csascii

b'My Name is Sudhanshu Patil. I have enrolled in data analyst class'

In [586]:
txt01 = "Hello, World!!"

In [588]:
txt01

'Hello, World!!'

In [590]:
encodedtxt = txt01.encode('utf-8')

In [592]:
encodedtxt

b'Hello, World!!'

In [596]:
decodedtxt = encodedtxt.decode('utf-8')

In [600]:
decodedtxt

'Hello, World!!'

In [646]:
txt02 = "Hello, World!!^%^&&Привет*"

In [648]:
txt02

'Hello, World!!^%^&&Привет*'

In [650]:
print(txt02.encode('ascii', errors = 'replace'))

b'Hello, World!!^%^&&??????*'

## 22. Index()
* allows a user to find the index of the first occurrence of an existing substring inside a given string
* Syntax:  string_obj.index(substring, start, end)

In [662]:
txt01

'Hello, World!!'

In [664]:
txt01.index('l')

2

In [666]:
txt01.index('d')

11

## 23. isalnum()
*  method checks whether all the characters in a given string are either alphabet or numeric (alphanumeric) characters.
*  Syntax:  string_name.isalnum()

In [673]:
string_1

'My Name is Sudhanshu Patil. I have enrolled in data analyst class'

In [675]:
string_1.isalnum()

False

In [683]:
txt03 = "I am 29 Years Old."

In [685]:
txt03

'I am 29 Years Old.'

In [687]:
txt03.isalnum()

False

In [695]:
txt04 = "456asdf"

In [697]:
txt04

'456asdf'

In [699]:
txt04.isalnum()

True

In [701]:
txt05 = "sudhanshu"

In [703]:
txt05

'sudhanshu'

In [705]:
txt05.isalnum()

True

## 24. partition()
* Splits the string at the first occurrence of the separator

In [708]:
string_1

'My Name is Sudhanshu Patil. I have enrolled in data analyst class'

In [710]:
string_1.partition("Patil")

('My Name is Sudhanshu ', 'Patil', '. I have enrolled in data analyst class')

## 25. isnumeric()
* Returns “True” if all characters in the string are numeric characters

In [713]:
string_1

'My Name is Sudhanshu Patil. I have enrolled in data analyst class'

In [715]:
string_1.isnumeric()

False

In [717]:
txt03

'I am 29 Years Old.'

In [719]:
txt03.isnumeric()

False

In [721]:
txt04

'456asdf'

In [723]:
txt04.isnumeric()

False

In [739]:
txt05 = "1236646469"

In [741]:
txt05

'1236646469'

In [743]:
txt05.isnumeric()

True

## 26. len()
* The len() function in Python is used to determine the length (the number of items) of an object.

In [747]:
string_1

'My Name is Sudhanshu Patil. I have enrolled in data analyst class'

In [749]:
len(string_1)

65