# Task_3
* give 20 list of different data types
* give 15 unique methods example of list and explain it
* give documentation for the same in jupyter (i.e.document the code)

### tuple task
* 8 example of tuples
* give documentation for the same in jupyter (i.e.document the code)

# List
* We create a list by placing elements inside square brackets [], separated by commas.

In [3]:
age = [12,65,25,15,5,45]

In [4]:
age

[12, 65, 25, 15, 5, 45]

## List Characteristics
#### Lists are:

* Ordered - They maintain the order of elements.
* Mutable - Items can be changed after creation.
* Allow duplicates - They can contain duplicate values.

* We can access element of list with number associated with position of element called as index.
* First element starts with zero, index of second item is 1 and so on.

In [6]:
l1 = ['maths' , 'science' , '100']

### indexing

In [8]:
# Access first element of list l1

print (l1[0])  ## output : maths

maths

In [9]:
# Access last element of list l1

print (l1[2])  ## output : 100

100

#### negative indexing
* python supports negative indexing i.e. index of last element is -1 , index of second last element is -2 and so on.

In [24]:
l2 = [65 , "Hello World" , "Nagpur" , "Salt" , 2.5]

In [26]:
l2

[65, 'Hello World', 'Nagpur', 'Salt', 2.5]

In [28]:
# Access last element of list l2

print (l1[-1])  ## output : 2.5

100

#### Slicing of a List in Python
* In Python, it is possible to access a section of items from the list using the slicing operator

In [30]:
l3 = ['a' , 'z', 'b' , 'y' , 'c' , 'x' , 'd' , 'w', 'e' , 'v']

In [34]:
# access elements from index 5 - 9

l3 [5:10]    ## output [x,d,w,e,v]

['x', 'd', 'w', 'e', 'v']

In [36]:
# access elements from index 6 - last

l3 [6:]           ## output [d,w,e,v]

['d', 'w', 'e', 'v']

In [40]:
# access elements from index 0 - 6

l3 [:7]           ## output [a,z,b,y,c,x,d]

['a', 'z', 'b', 'y', 'c', 'x', 'd']

In [50]:
# access elements from index 0 - last with gap of 2 elements

l3[0::3]   ## output [a,y,d,v]

['a', 'y', 'd', 'v']

# List Methods
* Python List Methods are the built-in methods in lists used to perform operations on Python lists/arrays.
* https://www.geeksforgeeks.org/list-methods-python/
* https://www.programiz.com/python-programming/list

## Append ()
* We use the append() method to add an element to the **end** of a Python list.
* It takes only one arg at a time.
* list.append(item) , (item can be number, string, list etc.)
* The method doesn't return any value

In [71]:
l4 = [10,'J',18,"R",6,"F"]
print ('original list:',l4)

l4.append('Diamond')
print ('updated list:', l4)

original list: [10, 'J', 18, 'R', 6, 'F']
updated list: [10, 'J', 18, 'R', 6, 'F', 'Diamond']

## insert () 
* Add Elements at the Specified Index
* The insert() method adds an element at the specified index.
* syntax : list.insert(i, element) , Here, element is inserted to the list at the ith index. All the elements after elem are shifted to the right.
* The insert() method takes two parameters:
* index - the index where the element needs to be inserted
* element - this is the element to be inserted in the list
* The insert() method doesn't return anything; returns None. It only updates the current list.

In [95]:
# list of list / nested lIST

l5 = [[3,4,5,5,12,13,7,24,25,8,15,17],['Golf',' Badminton','Cricket'],[]]
print ('original list:',l5)

# insert China at index 2
#### China will be printed before empty list []

l5.insert( 2, 'China')
print ('updated list:',l5)

original list: [[3, 4, 5, 5, 12, 13, 7, 24, 25, 8, 15, 17], ['Golf', ' Badminton', 'Cricket'], []]
updated list: [[3, 4, 5, 5, 12, 13, 7, 24, 25, 8, 15, 17], ['Golf', ' Badminton', 'Cricket'], 'China', []]

## extend ()
* The extend() method adds all the items of the specified iterable, such as list, tuple, dictionary, or string , to the end of a list.
* syntax : list1.extend(iterable) , ** iterable - such as list, tuple, string, or dictionary **
* The extend() doesn't return anything; it modifies the original list.

In [88]:
even_numbers = [x for x in range(20)  if x % 2 == 0]
print('list of even numbers:',even_numbers)

odd_numbers = [x for x in range(20) if x % 2 !=0]
print('list of odd numbers:',odd_numbers)

## adding elements of odd_number to even_numbers

even_numbers.extend(odd_numbers)
print('list of numbers:',even_numbers)

list of even numbers: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
list of odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
list of numbers: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

### Using + to Extend a List

In [178]:
a = [1,2]
b = [100,500]

extended_list = a+b
print (extended_list)

[1, 2, 100, 500]

### Python extend() Vs append()
* If you need to add the item itself (rather than its elements), use the append() method.

In [184]:
a = [1,2]
b = [100,500]
c = ['a','d','g']

# add items using extends
a.extend(c)        # output : [1,2,'a','d','g']
print('extend_a:', a)

# add items using append
b.append(c)        # output : [1,2,['a','d','g']]
print('append_b:', b)

extend_a: [1, 2, 'a', 'd', 'g']
append_b: [100, 500, ['a', 'd', 'g']]

## copy ()
* The copy() method returns a copy of the specified list.
* The copy() method doesn't take any parameters.
* The copy() method returns a new list. It doesn't modify the original list.
* syntax : new_list = list.copy()
* The copy() method doesn't take any parameters.
* The copy() method returns a new list. It doesn't modify the original list.

In [144]:
l6 = ['mango',100,'apple',200,'dragonfruit',100,'papaya',60]
print('list_of_fruits:' ,l6)

c1 = l6.copy()
print('copied list:' ,c1)

list_of_fruits: ['mango', 100, 'apple', 200, 'dragonfruit', 100, 'papaya', 60]
copied list: ['mango', 100, 'apple', 200, 'dragonfruit', 100, 'papaya', 60]

* original list is unchanged when the new list is modified, using the copy() method.

In [146]:
# add an element to copied list
c1.append('1234545677877')

print('list_of_fruits:' ,l6)
print('copied list:' ,c1)

list_of_fruits: ['mango', 100, 'apple', 200, 'dragonfruit', 100, 'papaya', 60]
copied list: ['mango', 100, 'apple', 200, 'dragonfruit', 100, 'papaya', 60, '1234545677877']

### List copy using = operator

In [139]:
old_list = [True, 8.33, [25+10], 'a', 100]
print('original list:',old_list)
# copy list using =
new_list = old_list

print('copied list:',new_list)

original list: [True, 8.33, [35], 'a', 100]
copied list: [True, 8.33, [35], 'a', 100]


* there is one problem with copying lists **using = operator**. If you modify new_list, old_list is also modified. It is because the new list is referencing or pointing to the same old_list object.

In [141]:
# add an element to copied list
new_list.append('1234545677877')

print('Old List:', old_list)
print('New List:', new_list)

Old List: [True, 8.33, [35], 'a', 100, '1234545677877']
New List: [True, 8.33, [35], 'a', 100, '1234545677877']

* copying a list using slicing

In [151]:
# list
l7 = ['Moon', 'Mars', 'Mercury', 'Sun']

# copying a list using slicing
copy_l7 = l7[:]

# Adding an element to the copy list
copy_l7.append('pluto')

# Printing new and old list
print('Old List:', l7)
print('New List:', copy_l7)

Old List: ['Moon', 'Mars', 'Mercury', 'Sun']
New List: ['Moon', 'Mars', 'Mercury', 'Sun', 'pluto']

## remove()
* The remove() method removes the first matching element (which is passed as an argument) from the list.
* syntax : list.remove(element to be removed)
* If a list contains duplicate elements,  the remove() method only removes the first matching element.
* remove() does'nt returns any item

In [169]:
# create list
prime_numbers = [1,2,3,5,7,11,13,17,19]

# remove 1 from list as it is not prime
prime_numbers.remove(1)

# Updated prime_numbers List
print('Updated List: ', prime_numbers)

                                            # Output: Updated List:  [2,3,5,7,11,13,17,19]

Updated List:  [2, 3, 5, 7, 11, 13, 17, 19]

## pop()
* The list pop() method removes the item at the specified index. The method also returns the removed item.
* syntax : list.pop(index)
#### pop() parameters
* The pop() method takes a single argument (index).
* The argument passed to the method is optional.
* If not passed, the default index -1 is passed as an argument (index of the last item).
* If the index passed to the method is not in range, it throws IndexError: pop index out of range exception.
* The pop() method returns the item present at the given index. This item is also removed from the list.

In [205]:
even_numbers = [2,4,6,8,7]

# remove the element at last index 
removed_element = even_numbers.pop()   ## If the index passed to the method is not in range, it throws IndexError: pop index out of range exception.

print('Removed Element:', removed_element)
print('Updated List:', even_numbers)

                                                               ## Output: 
                                                                # Removed Element: 5
                                                                # Updated List: [2,4,6,8]

Removed Element: 7
Updated List: [2, 4, 6, 8]

## index()
* The index() method returns the index of the specified element in the list.
* syntax : list.index(element, start, end)
##### The list index() method can take a maximum of three arguments:
* element - the element to be searched
* start (optional) - start searching from this index
* end (optional) - search the element up to this index
* The index() method returns the index of the given element in the list.
* If the element is not found, a ValueError exception is raised.

In [210]:
players = ["Lionel Messi", "LeBron James", "Serena Williams", "Cristiano Ronaldo", "Roger Federer"]

## get index of  "Serena Williams"
indxx = players.index("Serena Williams")

print (indxx)                            ## Output: 2

2

In [214]:
consonents = ['b','c','d','e','g','h','j','l','m','n','u','y','w','q','p','r','t','k']

## index of 'e' in consonents
indexx = consonents.index('e')
print('The index of e:', indexx)

## index of 'u' in consonents
indexx = consonents.index('u')
print('The index of u:', indexx)

The index of e: 3
The index of u: 10

In [220]:
# 'u' between 3rd and 5th index is searched
index = consonents.index('u', 3, 12)   # Error!
print('The index of u:', index)

The index of u: 10

## clear()
* The clear() method removes all items from the list.
* syntax : list.clear()
* The clear() method doesn't take any parameters.
* The clear() method only empties the given list. It doesn't return any value.

In [223]:
actors = ["Robert Downey Jr.", "Scarlett Johansson", "Leonardo DiCaprio", "Jennifer Lawrence", "Denzel Washington"]

actors.clear()

print('List:', actors)

List: []

## count()
* The count() method returns the number of times the specified element appears in the list.
* syntax : list.count(element)
* The count() method takes a single argument i.e. **element** - the element to be counted
* The count() method returns the number of times element appears in the list.

In [226]:

years = [1990, 2000, 2010, 2020, 2024,1990, 2000,2010,1990, 2000, 2020, 2024,1990, 2000, 2010, 2020, 2024]

# count element '2010'
countt = years.count(2010)

# print count
print('The count of 2010 is:', countt)

The count of 2010 is: 3

## sort()
* The list's sort() method sorts the elements of a list.
* syntax : list.sort(reverse, key)
#### The sort() method can take two optional keyword arguments:
* reverse - By default False. If True is passed, the list is sorted in descending order.
* key - Comparion is based on this function.

In [233]:
countries = ["USA", "Japan", "Brazil", "France", "Australia"]

# sort in dictionary order
countries.sort()
print(f"Dictionary order: {countries}")

# sort in reverse dictionary order
countries.sort(reverse = True)
print(f"Reverse dictionary order: {countries}")

Dictionary order: ['Australia', 'Brazil', 'France', 'Japan', 'USA']
Reverse dictionary order: ['USA', 'Japan', 'France', 'Brazil', 'Australia']

In [237]:
# Reverse Strings Based on Length

a_list = ["a" * i for i in range(1, 9)]

a_list.sort(key = len)

print (f"length order: {a_list}")

length order: ['a', 'aa', 'aaa', 'aaaa', 'aaaaa', 'aaaaaa', 'aaaaaaa', 'aaaaaaaa']

## reverse()
* The reverse() method reverses the elements of the list.
* syntax : list.reverse()
* The reverse() method doesn't take any arguments.
* The reverse() method doesn't return any value. It updates the existing list.

In [243]:
books = ["1984", "To Kill a Mockingbird", "Pride and Prejudice", "The Great Gatsby", "Moby-Dick"]

print(f"original_list: {books}")

# List Reverse
books.reverse()

# updated list
print('Updated List:', books)

original_list: ['1984', 'To Kill a Mockingbird', 'Pride and Prejudice', 'The Great Gatsby', 'Moby-Dick']
Updated List: ['Moby-Dick', 'The Great Gatsby', 'Pride and Prejudice', 'To Kill a Mockingbird', '1984']

## min()
* returns the smallest of the values or the smallest item in an iterable passed as its parameter.
* syntax  :  min(list)
##### Parameters
* a, b, c ;  similar type of data.
* key (optional): A function to customize the sort order
* Returns the smallest item.

In [301]:
alist = ['zzzab', 'zzzzbga', 'gzg', 'gzgzzgg', 'eopo', 'lllllll', 'vvvvvv']

# min 
loweststring = min(alist)

print('original alist :', alist)

print (f"least string is: {loweststring}")

original alist : ['zzzab', 'zzzzbga', 'gzg', 'gzgzzgg', 'eopo', 'lllllll', 'vvvvvv']
least string is: eopo

## max() 
* max() function returns the largest item in an iterable or the largest of two or more arguments.
* max() function with objects
* max() function with iterable
* syntax : max(arg1, arg2, *arg[key])
#### Parameters : 
* arg1, arg2 : objects of the same datatype
* *args : multiple objects
* key : function where comparison of iterable is performed based on its return value
* Returns : The maximum valu

In [264]:

var1 = 4
var2 = 8
var3 = 2
 
max_val = max(var1, var2, var3)
print(max_val)

8

###### https://stackoverflow.com/questions/45950646/what-is-lexicographical-order

In [281]:
alist = ['ab', 'abc', 'azfa', 'aasaa', 'aaaata', 'aataa', 'aaaaatttttaaa']

maxstring = max(alist)
print(maxstring)

      ## gives output as per Lexicographical order

azfa

In [287]:
## using arg and key
max_val = max(alist, key=len)

print(max_val)

aaaaatttttaaa

## len ()
* gives no. of element in list
* syntax : len(listname)

In [333]:
l3 = ['a' , 'z', 'b' , 'y' , 'c' , 'x' , 'd' , 'w', 'e' , 'v']

len(l3)

10

# Tuples
* A tuple is a collection similar to a Python list. The primary difference is that we **cannot modify** a tuple once it is created.
* We create a tuple by placing items inside parentheses ()

### Tuple Characteristics
##### Tuples are:
* Ordered - They maintain the order of elements.
* Immutable - They cannot be changed after creation.
* Allow duplicates - They can contain duplicate values.

* indexing and slicing works same as it does in list

In [321]:
## Tuple of Integers
integer_tuple = (1, 2, 3, 4, 5)
print (f"1. tuple of int is: {integer_tuple}")

## tuple of string
str_tuple = ("apple", "banana", "cherry", "date")
print (f"2. tuple of str is: {str_tuple}")

## Tuple of Mixed Data Types
mixed_tuple = (42, "hello", 3.14, True)
print (f"3. tuple of various datatype is: {mixed_tuple}")

##  Nested Tuple (Tuple of Tuples)
nested_tuple = ((1, 2,765,2,75,88), ('zzzab', 'zzzzbga', 'gzg', 'gzgzzgg', 'eopo', 'lllllll', 'vvvvvv'), (True, False))
print (f"4. tuple of tuple is: {nested_tuple}")

## Tuple of List
tuple_of_lists = ([1, 2, 3], ["a", "b", "c"], [True, False])
print (f"5. tuple_of_lists is: {tuple_of_lists}")

## empty tuple
empty_tuple = ()
print (f"6. empty tuple is: {empty_tuple}")

## Tuple of boolean
boolean_tuple = (True, False, True, False)
print (f"7. boolean tuple is: {boolean_tuple}")

## Tuple of float
float_tuple = (1.1, 2.2, 3.3, 4.4, 5.5)
print (f"8. Tuple of float is: {float_tuple}")

## When we want to create a tuple with a single item

var = ('Hello')
print (f"9.a. This is not a tuple, this is a string: {var}")  # string

## But this would not create a tuple; instead, it would be considered a string.
## To solve this, we need to include a trailing comma after the item

var1 = ('Hello',) 
print (f"9.b. This is a tuple: {var1}")  # tuple

1. tuple of int is: (1, 2, 3, 4, 5)
2. tuple of str is: ('apple', 'banana', 'cherry', 'date')
3. tuple of various datatype is: (42, 'hello', 3.14, True)
4. tuple of tuple is: ((1, 2, 765, 2, 75, 88), ('zzzab', 'zzzzbga', 'gzg', 'gzgzzgg', 'eopo', 'lllllll', 'vvvvvv'), (True, False))
5. tuple_of_lists is: ([1, 2, 3], ['a', 'b', 'c'], [True, False])
6. empty tuple is: ()
7. boolean tuple is: (True, False, True, False)
8. Tuple of float is: (1.1, 2.2, 3.3, 4.4, 5.5)
9.a. This is not a tuple, this is a string: Hello
9.b. This is a tuple: ('Hello',)

## len in tuple
* len() function finds the number of items present in a tuple

In [326]:
colors_tuple = ("Red", "Green", "Blue", "Yellow", "Purple")

print('Total Items:', len(colors_tuple))

Total Items: 5

## in
* We use the **in** keyword to check if an item exists in the tuple.

In [339]:
l3 = ['a' , 'z', 'b' , 'y' , 'c' , 'x' , 'd' , 'w', 'e' , 'v']

print('k' in l3)   # false
print('y' in l3)   # True

False
True

## Delete Tuples
* We cannot delete individual items of a tuple. However, we can delete the tuple itself using the del statement

In [363]:
athletes = ("Usain Bolt", "Michael Phelps", "Simone Biles", "Tiger Woods", "Tom Brady")
athletes

('Usain Bolt', 'Michael Phelps', 'Simone Biles', 'Tiger Woods', 'Tom Brady')

In [365]:
athletes = ("Usain Bolt", "Michael Phelps", "Simone Biles", "Tiger Woods", "Tom Brady")

# deleting the tuple
del athletes
print(athletes)

NameError: name 'athletes' is not defined

# Methods in Tuple

## count()
* The count() method returns the number of times the specified element appears in the tuple
* syntax : tuple.count('element')
* returns :  number of times the given element i is present in the tuple

In [353]:
# tuple of athletes
athletes = ("Tom Brady","Tom Brady","Usain Bolt", "Michael Phelps","Tom Brady", "Simone Biles", "Tiger Woods", "Tom Brady","Michael Phelps","Michael Phelps",)

# count "Tom Brady" in tuple
print(f"the count of 'Tom Brady' is {athletes.count("Tom Brady")}")

the count of 'Tom Brady' is 4

## index()
* The index() method returns the index of the specified element in the tuple.

In [356]:
# tuple containing vowels
vowels = ('a', 'e', 'i', 'o', 'u')

# index of 'e' in vowels
index = vowels.index('e')

print(index)

1

## type()
* From Python's perspective, tuples are defined as objects with the data type 'tuple'

In [361]:
vowels = ('a', 'e', 'i', 'o', 'u')

type(vowels)

tuple